<!DOCTYPE html>
<html>
<head>
    <title>Dramafy: Login Page</title>
    <link rel="stylesheet" type="text/css" href="login.css">
    <link href="https://fonts.googleapis.com/css?family=Germania+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
</head>
<body>
<div class="mainScreen">
    <form action="index.html" class="container">
        
    <h1><center>Dramafy</center></h1>    
    
    <label class="loginform" for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label class="loginform" for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit" class="btn">Login</button>
  </form>
</div>
    
</body>
</html>